@import './fonts.css';

:root {
  --nav-height: 50px;
  --nav-max-width: 1100px;
  --nav-padding-inline: 15px;
  --nav-color: rgba(0, 0, 0, .8);
  --nav-color-hover: #000;
  --nav-bg: rgba(255, 255, 255, .8);
  --nav-font-size: 14px;
  --nav-mobile-font-size: 28px;
  --nav-duration: .24s;
  --nav-easing: cubic-bezier(.4, 0, .6, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: var(--color-text);
  font-family: var(--font-sans);
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  line-height: 1.5;
}

.visuallyhidden {
  position: absolute;
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}
